.about {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.pictureText {
  text-decoration: underline;
  text-decoration-color: gray;
}

.pictureText:hover {
  color: #35d0ba;
  text-decoration-color: #35d0ba;
} 

a {
  text-decoration: underline;
}