

html {
  /* font-size: 15px; */
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

body {
  margin: 1em;
}

/* @media screen and (max-width: 999px) {
  html {
    font-size: calc(11px + 4 * ((100vw - 320px) / 1000));
  }
} */