.mainContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.media {
  padding-right: 1em;
}
.media img {
  max-width: 100%;
}
.media img:not(:last-child) {
  border-bottom: 1px black dotted;
  padding-bottom: 1em;
}
.media img:not(:first-child) {
  padding-top: 1em;
}
.text {
}
.title {
  text-decoration: underline;
}
.tag {
  text-transform: capitalize;
}