.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
}
.media {
  padding-right: 1em;
}
.media img {
  max-width: 100%;
  border-top: 1px black dotted;
  padding-top: 1em;
}
/* .media img:not(:last-child) {
  border-bottom: 1px black dotted;
  padding-bottom: 1em;
} */
.media img:not(:first-child) {
  padding-top: 1em;
}
.text {
  padding-bottom: 1em;
}
.title {
  /* text-decoration: underline; */
}
.tag {
  text-transform: capitalize;
}
.linkList {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 1em;
}
.linkList a {
  text-decoration: underline;
}

.description p {
  margin-bottom: 0.6em;
}

.description ul {
  padding: 0 3em;
}

.description ul > li:not(:last-child) {
  margin-bottom: 0.6em;
}