.mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.individualContainer {
  min-height: 200px;
  width: 100%;
  position: relative;
  text-align: left;
  display: flex;
}
.individualContainer:not(:last-child) {
  padding-bottom: 2em;

}
.individualContainer h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.imageContainer {
  flex: 2;
}
.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
.imageContainer img:hover {
  filter: none;
}

.descriptionContainer {
  text-align: left;
  flex: 3;
  padding-left: 2em;
}
.descriptionContainer a {
  text-decoration: underline;
}

.links {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.wip {
  color: red
}

/* For smaller windows */
@media (max-width: 1099px) {
  .mainContainer {
    margin: auto;
  }
}

/* For mobile windows */
@media (max-width: 599px) {
  .individualContainer {
    flex-direction: column;
  }

  .mainContainer:nth-child(even) {
    flex-direction: column;
  }

  .descriptionContainer {
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
  }
}
