.title {
  color: black;
}

.tagsCollection {
}

.description {

}

.workGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

/* For smaller windows */
@media (max-width: 899px) {
  .workGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 599px) {
  .workGrid {
    grid-template-columns: 1fr;
  }
}

.workGridItem {

}

.workGridItem img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.meta {
  /* float: right; */
  margin-top: 0px;
}

.tag {
  margin-right: 0.5em;
  padding: 0.1em;
  font-size: smaller;
  text-transform: uppercase;
  background: black;
  border: solid 1px black;
  border-radius: 25%;
  color: #82A7D1;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}