.postContainer {
}

.post {
}

h1 {
  margin-top: 0;
}

.title {
  margin-bottom: 0;
  font-size: 3.6em;
}

.meta {
  margin-top: 0;
  margin-bottom: 2em;
}

.postsList {
  list-style: none;
  margin-left: 0;
}

.tag {
  text-transform: capitalize;
  margin-left: 0.3em;
}

.contentSummary {
  text-align: center;
  margin-top: -2em;
  margin-bottom: 3em;
}

p {
  margin: 0;
}