.postContainer {
}

.post {
}

.title {
  margin-bottom: 0;
  font-size: 3.6em;
}

.meta {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: smaller;
}

.postsList {
  list-style: none;
  margin-left: 0;
}

.tag {
  margin-left: 0.3em;
  text-transform: uppercase;
  color: #F6F6F6;
  background-color: #0009FF;
}

.contentSummary {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.previewImage {
  
}

@media (max-width: 749px) {
  .contentSummary {
    font-size: small;
  }
}