.title {
  color: white;
}

.tagsCollection {
}

.description {

}

.workGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.workGridItem {

}

.workGridItem img {
  margin-bottom: 0;
}

.meta {
  /* float: right; */
  margin-top: 0px;
}

.tag {
  margin-right: 0.5em;
  padding: 0.1em;
  font-size: smaller;
  text-transform: uppercase;
  background: white;
  border: solid 1px white;
  border-radius: 25%;
  color: #82A7D1;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}