.postContainer {
}

.post {
}

.title {
  margin-bottom: 0;
  font-size: 3.6em;
}

.meta {
  /* float: right; */
  margin-top: 0px;
}

.postsList {
  list-style: none;
  margin-left: 0;
}

.tag {
  margin-left: 0.5em;
  padding: 0.1em;
  font-size: smaller;
  text-transform: uppercase;
  background: white;
  border: solid 1px white;
  border-radius: 25%;
  color: #82A7D1;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
