@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.sidebar a {
  color: red;
  text-decoration: none;
}
.sidebar ul {
  float: left;
  margin-left: 0px;
}
.sidebar ul a {
  text-decoration: underline;
}
.sidebar ul a:hover {
  color: blue;
}
.content {
  height: 100vh;
  padding-left: 16px;
  margin-left: 200px;
}
.sidebar a h1 {
  color: red;
}
.sidebar h1 {
  border-bottom: solid 1px red;
}