@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.sidebar a {
    text-decoration: none;
}
.sidebar ul {
    float: left;
    margin-left: 0px;
}

.content {
    height: 100vh;
    padding-left: 16px;
    margin-left: 200px;
}

.pts_anim {
    height: 100%;
}